
    .crazy {
    font-family: 'Walter Turncoat', cursive;
    /* font-family: 'Baloo', cursive; */
    /* font-family: 'Sancreek', cursive; */
    /* font-family: 'Titan One', cursive; */
    color: yellow;
    }

    .bg {
    background-color: black;
    }

    .downsize {
    font-size: 24px;
    font-display: bold;
    }

    .statusmsg {
        font-size: 24px;
        font-display: bold;
        color: yellow;
    }
    .displaytext {
        font-size: 20px;
        font-display: bolder;
    }

    .displayfont {
        color: white;
        
    }
 

