
    .crazy {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: yellow;
    }

    .bg {
    background-color: black;
    }

    .downsize {
    font-size: 24px;
    font-display: bold;
    }

    .statusmsg {
        font-size: 24px;
        font-display: bold;
        color: yellow;
    }
    .displaytext {
        font-size: 20px;
        font-display: bolder;
    }

    .displayfont {
        color: white;
        
    }
 

